<!DOCTYpe html>
<html ng-app="">
	<head>
		<title>SignUp</title>
		<link rel='stylesheet' href='../css/main.css'>
		<script src="../js/angular.min.js"></script>
		<script src="../js/jquery-3.4.1.js"></script>
	</head>
	<body>
	<!--Header part-->
	<div class="header">
			<div class="inner-header">
				<div class="logo">
					<a href="../index.html" style="font-family: cursive; text-shadow:5px 5px 10px rgb(26, 24, 24)">
						<i>Metro Fastline</i></a>
				</div>
				<div class="header-link">
					<a href="AboutUs.html">About Us</a>
				</div>
				<div class="header-link">
					<a href="PassengerInformation.html">Passenger Information</a>
				</div>
				<div class="header-link">
					<a href="Login.html">Login</a>
				</div>
			</div>
		</div>
	<!--content part-->
	<div class="content" >
			<div class="banner-image">
				<div class="inner-banner-image">
					<div class="banner-content" >
							<div class="form-content">
								<form>
									<h1>SignUp</h1>
									First Name: <br><input type="text" name="First Name" ng-model="x" required><br><br>
									Last Name: <br><input type="text" name="Last Name"  ng-model="y"><br><br>
									Email:<br><input type="email" name="Email"><br><br>
									Password:<br><input type="password" name="Password"><br><br>
									Mobile No.:<br><input type="name" name="Number"><br><br>
									<button  onclick="alertFunction()" type="submit" value="submit"><a href="../index.html">Create an account</a></button>
									<p style="font-size: 15px;">Already have an account?  <a href="Login.html"> Login</a></p>
								</form>
							</div>
							<div class="form-side-image" style="background-color: aliceblue;">
								<img src="../images/welcome.png" style="padding-top: 50px ;"><br>

								<p style="color: red;"> <b><i>Metro Fastline welcomes you <br> {{x + " " + y}} </i></b> </p>
							</div>
					</div>
				</div>
			</div>
			</div>
	</div>
	<!--Footer part-->
	<footer>
			<div class="container">
				<!-- <p style="text-align: center;"> HelpLine No. : 155370</p> -->
				<div class="footer-div">
					<h2>Contact Information</h2>
					<p>Metro Bhawan Fire Brigade Lane,<br> Barakhamba Road,<br>
							New Delhi - 110001, India <br>
							Board No. - 011-23417910/11/12</p>
				</div>
				<div class="footer-div">
					<h2>Quick Links</h2>
					<a href="NetworkRoute.html">Network Route Map</a><br>
					<a href="PassengerInformation.html">Passenger Information</a><br>
					<a href="AboutUs.html">About Us</a></li>
				</div>
				<div class="footer-div">
					<h2>Quick contact</h2>
					<p>DMRC Helpline nos.<br>
					<b>155370</b><br>
					Follow us: 
					<a href="https://www.facebook.com/officialdmrc"><img src="../images/Home/facebook.png" width="20px" height="20px"></a>
					<a href="https://twitter.com/officialdmrc"><img src="../images/Home/twitter.png" width="20px" height="20px"></a>
					<a href="https://www.instagram.com/officialdmrc/"><img src="../images/Home/instagram.png"width="20px" height="20px"></a>
					</p>
				</div>
			</div>
		</footer>
		<script>
		function alertFunction(){
			alert("You have successfully submitted the form.");
		}
		</script>
	</body>
</html>